
@{
    ViewBag.Title = "Showcomments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-1"></div>
<div class="col-lg-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            Comments
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            @foreach (var item in ViewBag.comment)
            {
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><b>@item.Subject</b></h4>
                    <p style="margin-left:4%;">@item.Comment</p>
                    <h5>By @item.Name at @item.Date</h5>
                </div>
            }
            
           
        </div>
        <!-- .panel-body -->
    </div>
    <!-- /.panel -->
</div>
    <div class="col-lg-1"></div>
    </div>

